<div class="contact">

	<h3>For any enquiries, feel free to send us a message</h3>

  <form name="contactForm" ng-submit="$ctrl.onSubmit(contactForm)">

    <!-- <label for="formName">Your name</label> -->
    <input 
      type="text"
      id="formName"
      name="formName"
      placeholder="Enter your name"
      ng-model="$ctrl.formName"
      required
    >

    <!-- <label for="formEmail">Your email address</label> -->
    <input 
      type="email" 
      id="formEmail" 
      name="formEmail"
      title="Please provide a valid email address" 
      placeholder="Enter your email address"
      ng-model="$ctrl.formEmail"
      required
    >

    <!-- <label for="forMessage">Message</label> -->
    <textarea 
      id="formMessage" 
      name="formMessage"
      placeholder="Write your message here" 
      ng-model="$ctrl.formMessage"
      required
    ></textarea>

    <input type="submit" name="formSubmitButton" value="Submit">
    <span id="formSuccess" ng-if="$ctrl.success">Thank you for your message!</span>
    <span id="formFailure" ng-if="$ctrl.failure">Error. Please try again.</span>

  </form>
</div>