<div>
    
    <h3>Target sectors</h3>

    <p>Allens Creek Capital focuses on investing in industry sectors where its principals bring unique experience, relationships and insights.</p>

    <h3>Aerospace and Transportation</h3>
    <ul>
        <li>Aerospace components, machining, assembly and processing</li>
        <li>Aircraft overhaul and repair</li>
        <li>Rail infrastructure and inland waterway services, components and maintenance</li>
    </ul>

    <h3>Energy and Infrastructure</h3>
    <ul>
        <li>Specialized upstream, midstream and downstream services</li>
        <li>Inspection, maintenance and repair of industrial and energy infrastructure</li>
        <li>Critical energy and industrial infrastructure products and equipment</li>
    </ul>

    <h3>Chemicals, Metals, Minerals and Agriculture</h3>
    <ul>
        <li>Specialty chemicals and industrial minerals</li>
        <li>Agricultural inputs, products and services</li>
        <li>Specialty metals manufacturing and processing</li>
    </ul>

</div>