<div>

    <h3>Our values</h3>

    <p>Allens Creek Capital’s values stand at the core of our mission and are the foundation of our belief in responsible ownership.
    We believe in fair treatment for all, irrespective of gender, sexual orientation, race, socio-economic status, ethnic or national origin, immigration status, religion, age or disability.</p>

    <p>We will not support harmful, exploitative or deceitful practices.</p>

    <p>We respect the environment and the communities in which we invest and live.</p>

    <p>We promote partnership and teamwork in everything we do, and expect the highest standards of honesty and integrity from our teams and partners.</p>

    <p>These values guide our decisions and they underpin our actions.</p>

    <h3>Our mission</h3>

    <p>Our mission is to deliver superior, risk-adjusted returns to our investors on a consistent and responsible basis.</p> 

    <p>Integrity, partnership, discipline and creativity are fundamental to the way we work. We strive to excel in everything we do.</p>

    <h3>Integrity and partnership: our team</h3>

    <p>Teamwork and a collegial environment are central to our culture. We value honesty and humility. We respect the views of others and we encourage debate and intellectual curiosity.</p>

    <p>We recruit outstanding people who are able to work across diverse cultures and regions as one team. We align our interests within our team and with our investors and management partners. We believe in supporting the local communities where we live and work.</p>

    <h3>Discipline and creativity: our business</h3>

    <p>We are committed to our strategy. This requires patience and discipline in identifying and developing investment opportunities. We seek to partner closely with exceptional managers to drive value creation in all our investments.</p>

    <p>We encourage creative thinking: it fosters flexibility, resourcefulness and the entrepreneurial spirit.</p>

</div>
