#app-container {
  box-sizing: border-box;
  min-height: 100%;
  position: relative;
  margin-left: 9%;
  margin-right: 9%;
  padding-bottom: 2em;
  background-color: rgb(221, 235, 247);
  /*min-width: 450px;*/
}

@media only screen and (max-width: 1000px) {
    /* For narrow viewport: */
    #app-container {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}