#app-container {
  box-sizing: border-box;
  min-height: 100%;
  width: 940px;
  position: relative;
  margin: 0 auto;
  padding-bottom: 2em;
  background-color: rgb(221, 235, 247);
}

@media only screen and (max-width: 768px) {
    #app-container {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}