banner {
  display: block;
  box-sizing: border-box;
  height: 120px;
  background-image: url("../images/mountains2.jpg");  
  background-size: cover;
  background-position-y: 89%;
  background-repeat: no-repeat;
}

banner img {
  margin: 5px;
  height: 110px;
}