banner {
  display: block;
  position: relative;
  box-sizing: border-box;
  height: 160px;
  background-image: url("../images/mountains2.jpg");  
  background-size: cover;
  background-position: 100% 80%;
  background-repeat: no-repeat;
}

banner img {
  margin: 15px;
  height: 175px;
}
