navbar {
  box-sizing: border-box;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  color: rgb(242, 242, 242);
  background-color: rgb(31, 78, 120);
}

navbar ul {
  list-style-type: none;
  list-style-position: inside;
  padding: 0;
  margin: 0;
  color: white;
  background-color: rgb(31, 78, 120);
}

navbar li {
  display: inline-block;
  border-width: 0;
  border-style: solid;
  border-color: white;
  margin: 0 0 0 50px;
}

navbar li:first-of-type {
  margin-left: 185px;
}

navbar li a {
  box-sizing: border-box;
  color: white;
  text-decoration: none;
  padding: 12px 5px;
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
}

navbar li a:hover {
  color: rgb(31, 78, 120);
  background-color: rgb(221, 235, 247);
}

navbar li a:active {
  color: rgb(221, 235, 247);
}

@media only screen and (max-width: 768px) {

    /* For narrow viewport: */

    navbar ul {
      padding: 0 20px;
    }

    navbar li {
      margin: 0 0 0 10px;
    }

    navbar li:first-of-type {
      margin-left: 0;
    }

/*    navbar li a {
      padding: 5px;
    }*/

}
