ui-view {
  display: block;
  box-sizing: border-box;
  width: 81%;
  margin: 0 9%;
  overflow: auto;
  padding: 20px;
  font-size: 16px;
}

ui-view h3 {
  font-weight: normal;
  font-size: 1.25em;
}

@media only screen and (max-width: 768px) {
    /* For narrow viewport: */

    ui-view {
      width: 100%;
      margin: 0;
    }

}